<app-header class="app-header"></app-header>
<main class="main-detail">
    <div class="main-container">
        <div class="main__content-left">
            <h3>COMPOSICIÓN, CUIDADOS & ORIGEN</h3>
            <h3>COMPOSICIÓN</h3>
            <p>Trabajamos con programas de seguimiento para garantizar el cumplimiento de nuestros estándares sociales, medioambientales y de seguridad y salud de nuestras prendas. Para evaluar su cumplimiento hemos desarrollado un programa de auditorías y planes de mejora continua.</p>
            <h4>EXTERIOR</h4>
            <p>59% poliéster</p>
            <p>25% liocel</p>
            <p>16% lino</p>
            <h3>CUIDADOS</h3>
            <p>Cuidar de tus prendas es cuidar del medioambiente.</p>
            <p>Para alargar la vida de tus prendas de denim lávalas siempre a bajas temperaturas y del revés, de esta forma ayudamos a preservar los colores, la estructura del tejido y reducimos el consumo de energía.</p>
        </div>
        <div class="main__content-center">
            <img class="main__image" src="assets/images/6048300505_1_1_1.jpg" alt="">
        </div>
        <div class="main__content-right">
            <div class="main__content-right__upper">
                <h3>CAMISA CON LYOCELL - LINO</h3>
                <button class="button" type="button">
                    <svg class="wishlist-icon wishlist-icon--productDetail" preserveAspectRatio="xMidYMid slice" width="24" heigth="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 15.238L17 20V4H7v16l5-4.762zm-4 2.429l4-3.81 4 3.81V5H8v12.667z"></path></svg>
                </button>
            </div>
            <h3 class="content-right-price">29,95 EUR</h3>
            <p>Camisa confeccionada en tejido con mezcla de lyocell y lino. Cuello bowling y manga corta. Bajo con aberturas laterales. Cierre frontal de botonadura.</p>
            <ul class="ul__color-selector">
                <li><button class="button"><div class="color-selector" style="background-color:#262424"></div></button></li>
                <li><button class="button"><div class="color-selector" style="background-color:#777865"></div></button></li>
                <li><button class="button"><div class="color-selector" style="background-color:#FCF5EC"></div></button></li>
            </ul>
            <h5>Khaki | 6048/300</h5>
            <ul class="ul__size-selector">
                <li><a href="">S</a></li>
                <li><a href="">M</a></li>
                <li><a href="">L</a></li>
                <li><a href="">XL</a></li>    
            </ul>
            <div class="main__content-right__lower">
                <div>ENCUENTRA TU TALLA</div>
                <div>GUÍA DE TALLAS</div>
            </div>
            <button class="button--add-cart">AÑADIR A LA CESTA</button>
            <h3 class="disponibility-text">VER DISPONIBILIDAD EN TIENDA</h3>
            <h3 class="shipping-text">ENVÍOS, CAMBIOS Y DEVOLUCIONES</h3>
        </div>
    </div>
</main>
<app-footer class="app-footer"></app-footer>
<main class="main-detail__mobile">
    <header class="main-detail__header">
        <button class="header__menu-button">
            <svg class="header__menu-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.4 5.9H3.6v-1h16.8v1zm0 6.6H3.6v-1h16.8v1zm0 6.6H3.6v-1h16.8v1z"></path></svg>
        </button>
        <div class="main-detail__header-right">
            <button class="product-share"><svg class="product-share__icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path d="M17.154 8.246L12 3.093 6.846 8.246l.708.707L11.5 5.007V16h1V5.007l3.946 3.946.708-.707z"></path><path d="M4.7 19.3v-4.9h-1v5.9h16.6v-5.9h-1v4.9H4.7z"></path></svg></button>
            <a href=""><svg class="header__shop-cart-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.708 5a2.5 2.5 0 0 1 4.584 0H9.708zM8.645 5a3.502 3.502 0 0 1 6.71 0H19v15H5V5h3.645zM6 6v13h12V6H6z"></path></svg></a>
        </div>
    </header>
    <img class="main__gallery__img" src="assets/images/6048300505_1_1_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_2_1_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_2_2_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_2_3_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_2_4_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_2_5_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_6_1_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_6_2_1.jpg" alt="">
    <img class="main__gallery__img" src="assets/images/6048300505_6_3_1.jpg" alt="">
</main>
<footer class="footer-detail__mobile">
    <div class="footer-content">
        <div class="footer-content-upper">
            <div class="footer-content__text">
                <p>CAMISA CON LYOCELL - LINO</p>
                <p>29,95 EUR</p>
            </div>
            <ul class="ul__color-selector">
                <li><button class="button"><div class="color-selector" style="background-color:#262424"></div></button></li>
                <li><button class="button"><div class="color-selector" style="background-color:#777865"></div></button></li>
                <li><button class="button"><div class="color-selector" style="background-color:#FCF5EC"></div></button></li>
            </ul>
        </div>
        <div class="footer-content-lower">
            <button class="button--add-cart">AÑADIR A LA CESTA</button>
            <button class="button" type="button">
                <svg class="wishlist-icon wishlist-icon--productDetail" preserveAspectRatio="xMidYMid slice" width="24" heigth="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 15.238L17 20V4H7v16l5-4.762zm-4 2.429l4-3.81 4 3.81V5H8v12.667z"></path></svg>
            </button>
        </div>
    </div>
</footer>