<footer class="footer">
    <div class="footer-container">
        <div class="footer__upper">
            <h3>Úntete a nuestra newsletter</h3>
            <input type="text" placeholder="INTRODUCE TU EMAIL AQUÍ">
            <ul>
                <li><a href="">TIKTOK</a></li>
                <li><a href="">INSTAGRAM</a></li>
                <li><a href="">FACEBOOK</a></li>
                <li><a href="">TWITTER</a></li>
                <li><a href="">PINTEREST</a></li>
                <li><a href="">YOUTUBE</a></li>
                <li><a href="">SPOTIFY</a></li>
            </ul>
        </div>
        <div class="footer__middle">
            <div class="footer__middle-links">
                <p>AYUDA</p>
                <ul>
                    <li><a href="">MI CUENTA ZARA</a></li>
                    <li><a href="">ARTÍCULOS Y TALLAS</a></li>
                    <li><a href="">OPCIONES PARA REGALO</a></li>
                    <li><a href="">ENVÍOS</a></li>
                    <li><a href="">PAGOS Y FACTURAS</a></li>
                    <li><a href="">MIS COMPRAR</a></li>
                    <li><a href="">CAMBIOS, DEVOLUCIONES Y REEMBOLSOS</a></li>
                    <li><a href="">EXPERIENCIAS ZARA</a></li>
                </ul>
            </div>
            <div class="footer__middle-links">
                <p>SÍGUENOS</p>
                <ul>
                    <li><a href="">NEWSLETTER</a></li>
                    <li><a href="">TIKTOK</a></li>
                    <li><a href="">INSTAGRAM</a></li>
                    <li><a href="">FACEBOOK</a></li>
                    <li><a href="">TWITTER</a></li>
                    <li><a href="">PINTEREST</a></li>
                    <li><a href="">YOUTUBE</a></li>
                </ul>
            </div>
            <div class="footer__middle-links">
                <p>EMPRESA</p>
                <ul>
                    <li><a href="">QUIENES SOMOS</a></li>
                    <li><a href="">JOIN LIFE</a></li>
                    <li><a href="">OFICINAS</a></li>
                    <li><a href="">TIENDAS</a></li>
                    <li><a href="">TRABAJA CON NOSOTROS</a></li>
                </ul>
            </div>
            <div class="footer__middle-links">
                <p>POLÍTICAS</p>
                <ul>
                    <li><a href="">POLÍTICA DE PRIVACIDAD</a></li>
                    <li><a href="">CONDICIONES DE COMPRA</a></li>
                    <li><a href="">CONDICIONES TARJETA REGALO</a></li>
                    <li><a href="">CONDICIONES DE USO DE VÍDEO REGALO</a></li>
                    <li><a href="">CONFIGURACIÓN DE COOKIES</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__lower">
            <div class="footer__lower-left">
                <ul>
                    <li><a href="">ZARA</a></li>
                    <P>/</P>
                    <li><a href="">HOMBRE</a></li>
                    <P>/</P>
                    <li><a href="">CAMISAS</a></li>
                    <P>/</P>
                    <li><a href="">VER TODO</a></li>
                </ul>
                <p>ESPAÑA  |  ESPAÑA - CANARIAS</p>
            </div>
            <div class="footer__lower-right">
                <ul class="footer__lower-right__ul">
                    <li><a href="">ESPAÑOL</a></li>
                    <P>|</P>
                    <li><a href="">ENGLISH</a></li>
                    <P>|</P>
                    <li><a href="">EUSKARA</a></li>
                    <P>|</P>
                    <li><a href="">GALEGO</a></li>
                    <P>|</P>
                    <li><a href="">VALENCIÀ</a></li>
                </ul>
                <p>® ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</footer>
