<app-header class="app-header"></app-header>
<main class="main-gallery">
    <section class="section">
        <div class="section__container-upper">
            <a href=""><img class="main-image" src="assets/images/7380320916_2_4_1.jpg" alt=""></a>
            <div class="section__text-container">
                <h3>CAMISA TÉCNICA BOXY FIT</h3>
                <p>29,95 EUR</p>
            </div>
        </div>
        <div class="section__continer-lower">
            <a href=""><img src="assets/images/7380320800_6_1_1.jpg" alt=""></a>
            <a href=""><img src="assets/images/7380320916_6_1_1.jpg" alt=""></a>
            <a href=""><img src="assets/images/7380320251_6_1_1.jpg" alt=""></a>
        </div>
    </section>
    <section class="section">
        <div class="section__container-upper">
            <img class="main-image" src="assets/images/2688351505_2_4_1.jpg" alt="">
            <div class="section__text-container">
                <h3>CAMISA FLUIDA BOLSILLO</h3>
                <p>29,95 EUR</p>
            </div>
        </div>
        <div class="section__continer-lower">
            <a href=""><img src="assets/images/2688351800_6_1_1.jpg" alt=""></a>
            <a href=""><img src="assets/images/2688351505_6_1_1.jpg" alt=""></a>
            <a href=""><img src="assets/images/2688351251_6_1_1.jpg" alt=""></a>
        </div>
    </section>
    <section class="section">
        <div class="section__container-upper">
            <a href=""><img class="main-image" src="assets/images/8574462615_2_1_1.jpg" alt=""></a>
            <div class="section__text-container">
                <h3>CAMISA BORDADO STANDARD PROCEDURE ®</h3>
                <p>CAMISA RELAXED FIT CONFECCIONADA EN TEJIDO DE VISCOSA. CUELLO BOWLING Y MANGA CORTA. LOGO BORDADO DE STANDARD PROCEDURE ® EN DELANTERO. CIERRE FRONTAL DE BOTONADURA.</p>
                <p>34,95 EUR</p>
            </div>
        </div>
        <div class="section__continer-lower">
            <a href=""><img src="assets/images/0794409800_2_1_1.jpg" alt=""></a>
            <a href=""><img src="assets/images/5039350612_2_1_1.jpg" alt=""></a>
            <a href=""><img src="assets/images/4231414801_2_1_1.jpg" alt=""></a>
            <a href=""><img src="assets/images/4748523800_2_1_1.jpg" alt=""></a>
        </div>
    </section>
</main>
<app-footer class="app-footer"></app-footer>