<header class="header">
    <div class="header__menu-left">
        <button class="header__menu-button">
            <svg class="header__menu-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.4 5.9H3.6v-1h16.8v1zm0 6.6H3.6v-1h16.8v1zm0 6.6H3.6v-1h16.8v1z"></path></svg>
        </button>
        <div class="header__menu-container">
            <h2 class="header__menu-title" [routerLink]="['/']">BAZAR</h2>
        </div>
    </div>
    <div class="header__menu-center">
        <ul class="header__list-center">
            <li><a href="">VER TODO</a></li>
            <li><a href="">MANGA CORTA</a></li>
            <li><a href="">FORMAL</a></li>
            <li><a href="">LISAS</a></li>
            <li><a href="">LINO</a></li>
            <li><a href="">BASICA</a></li>
        </ul>
    </div>
    <div class="header__menu-right">
        <div class="header__menu-upper-right">
            <div class="header__menu-search">
                <input class="header__menu-search-input" type="text" placeholder="BUSCAR">
            </div>
            <div class="header__menu-misc">
                <ul class="header__menu-misc-list">
                    <li><a href="">INICIAR</a></li>
                    <li><a [routerLink]="['/administration']">ADMINISTRAR</a></li>
                    <li><a href=""><svg class="header__shop-cart-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.708 5a2.5 2.5 0 0 1 4.584 0H9.708zM8.645 5a3.502 3.502 0 0 1 6.71 0H19v15H5V5h3.645zM6 6v13h12V6H6z"></path></svg></a></li>
                </ul>
            </div>
        </div>
        <div class="header__menu-lower-right">
            <button class="header__button-filtros">FILTROS</button>
            <button class="header__button-gallery">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                    <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z"/>
                </svg>
            </button>
        </div>
    </div>
</header>
<header class="header__mobile">
    <div class="header__mobile-container">
        <button class="header__menu-button">
            <svg class="header__menu-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.4 5.9H3.6v-1h16.8v1zm0 6.6H3.6v-1h16.8v1zm0 6.6H3.6v-1h16.8v1z"></path></svg>
        </button>
        <button class="header__button-filtros" [routerLink]="['/administration']">ADMINISTRAR</button>
        <div class="header__menu-right">
            <button class="header__button-gallery">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                    <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z"/>
                </svg>
            </button>
            <a href="https://www.zara.com/es/es/search" class="layout-header-search-link__link" aria-labelledby="zds-1"><svg aria-hidden="true" class="layout-header-search-link__icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2 3.7a6.5 6.5 0 1 0 4.23 11.436l5.016 5.018.707-.708-5.017-5.017A6.5 6.5 0 0 0 10.2 3.7zm-5.5 6.5a5.5 5.5 0 1 1 11 0 5.5 5.5 0 0 1-11 0z"></path></svg><span class="screen-reader-text" id="zds-1"></span></a>
            <a href=""><svg class="header__shop-cart-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.708 5a2.5 2.5 0 0 1 4.584 0H9.708zM8.645 5a3.502 3.502 0 0 1 6.71 0H19v15H5V5h3.645zM6 6v13h12V6H6z"></path></svg></a>
        </div>
    </div>
    <div class="header__menu-center">
        <ul class="header__list-center">
            <li><a href="">VER TODO</a></li>
            <li><a href="">MANGA CORTA</a></li>
            <li><a href="">FORMAL</a></li>
            <li><a href="">LISAS</a></li>
            <li><a href="">LINO</a></li>
            <li><a href="">BASICA</a></li>
        </ul>
    </div>
</header>
