@font-face {
    font-family: 'Bodoni-Antiqua';
    src: url('assets/fonts/Bodoni-Antiqua.otf');
}

@font-face {
    font-family: 'Futura-Light';
    src: url('assets/fonts/Futura-Light.otf');
}

@font-face {
    font-family: 'HelveticaNeueRegular.otf';
    src: url('assets/fonts/HelveticaNeueRegular.otf');
}

body {
    font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #777;
}

ul {
    padding-inline-start: 0;
}

button {
    padding: 0;
}

.header {

}
.footer {
    
}